.footer-under{
  background-color:#312833;
  padding-bottom:100px;
  padding-top:100px;
  color:#eee;
  position:relative;
  font-weight:100;
  font-family:Helvetica,serif;
  min-height:50px;
}
.made-with{
  float:left;
  padding:5px 0;
  width:100%;
  text-align:center;
}

.footer-container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
  min-height:5px;
}