<!-- views/common/footer.ejs -->
<link rel="stylesheet" href="/stylesheets/kubeauth-footer.css">

<footer class="footer-under">
  <div class="made-with">
    © Copyright 2020 - KubeAuth 
    [ Page views made with GrapesJS ]
  </div>
  <div class="footer-container-width">
  </div>
</footer>